*.chk
*.gjf
*.in
*.pyc
*__pycashe__/*
*Gau*.inp
*Gau*.d2e
*Gau*.int
*Gau*.rwf
*Gau*.skr
*.com
*.gjf.buck*
*fort.7
*runlist.txt*
*run.sh*
*error*
*output*
*.png
*.log
*.xyz
*.zip
*.csv
*slurm*out
*.tab
*.inc
*.lammpstrj
*.dat
*.ld
*.lmscr
*.lammps
*report_of_run*
*out*
*err*
beta_sampling_value
