# Ignore everything
/*

# Except for the `main_scripts` and `useful_scripts` directories
!/main_scripts/
!/useful_scripts/

# Optionally, you can choose to only keep certain files inside these directories
main_scripts/__pycache__*

useful_scripts/__pycache__*

