# Ignore everything
/*

!/main_scripts/
!/useful_scripts/
!/Ag7CO2_example/

main_scripts/__pycache__*
main_scripts/*.log
useful_scripts/__pycache__*
Ag7CO2_example/Results
Ag7CO2_example/data
Ag7CO2_example/lammps_working
Ag7CO2_example/distr*

Ag7CO2_example/Results
Ag7CO2_example/lammps_working
Ag7CO2_example/distr*
Ag7CO2_example/data/*
!/Ag7CO2_example/data/L0
